/**
 * Main CSS File for my website.
 * 
 * @author Chi Señires
 * 
 */

/**
 * COLOR SCHEME: https://coolors.co/333333-870000-b3b6b7-f7f3e3-af9164
 * 
 * Jet: #333;
 * Deep Red: #870000;
 * Ash Grey: #B3B6B7;
 * Linen: #F7F3F3;
 * Light Taupe: #AF9164;
 * 
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F3F3;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Space Mono', monospace;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #870000;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

  a:hover, a:focus {
    border-bottom-color: #870000;
  }

header {
  height: 100%;
  padding: 1em;
  margin-left: 1em;
  position: fixed;
  width: 20vw;
}

  #face {
    -webkit-clip-path: circle(50% at center);
    clip-path: circle(50% at center);
    width: 100%;
  }

  nav {
    margin-top: 1em;
    line-height: 2em;
  }

    nav a {
      float: right;
      clear: right;
    }
