/**
 * Main CSS File for my website.
 * 
 * @author Chi Señires
 * 
 */

/**
 * COLOR SCHEME: https://coolors.co/333333-870000-b3b6b7-f7f3e3-af9164
 * 
 * Jet: #333;
 * Deep Red: #870000;
 * Ash Grey: #B3B6B7;
 * Linen: #F7F3F3;
 * 
 */


/**
 * GENERAL STYLES
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F3F3;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  overflow-x: hidden;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  margin: 0.15em auto 0.25em;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

  a:hover, a:focus {
    border-bottom-color: #fff;
  }

p {
  margin: 0.75em auto 0.25em;
  line-height: 150%;
}

/* SIDEBAR STYLES */
aside {
  display: block;
  width: 25%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.brand {
  width: 100%;
  padding: 4em 6em 0;
}

.brand .my-face {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 1em;
  overflow: hidden;
  border-radius: 50%;
}

.my-face img {
  width: 100%;
  height: auto;
  margin-top: -15px;
}

.brand .my-name {
  font-size: 3em;
}

aside .description {
  display: block;
  color: #B3B6B7;
  padding: 1em 3em;
}

aside .description > .my-info::before {
  content: ">> ";
}

aside .description > .my-info {
  margin: 0.3em 0.5em;
}

aside .my-links {
  text-align: center;
  margin: 1em auto;
}

.my-links > a {
  font-size: 2em;
  margin: 0.15em;
  border: none;
}

.my-links > a:hover {
  color: #B3B6B7;
}

aside .small-text {
  text-align: center;
  font-size: 0.8em;
  align-self: flex-end;
  position: absolute;
  bottom: 3em;
  margin: 0 auto;
  width: 100%;
}

.small-text > p {
  margin: 0.1em;
}

.small-text a {
  font-weight: bold;
}

.clearfix {
  clear: both;
  display: none;
}

/* MAIN AREA STYLES */
#main {
  display: block;
  width: 75%;
  margin-left: 25%;
  padding: 2em 4em;
  min-height: 100vh;
  height: auto;
}

#main .heading {
  text-align: center;
  text-transform: uppercase;
  color: #870000;
}

#main .heading::before {
  content: "- - - - - - - - [ ";
  display: inline-block;
  color: #333;
  margin-right: 0.75em;
}

#main .heading::after {
  content: " ] - - - - - - - -";
  display: inline-block;
  color: #333;
  margin-left: 0.75em;
}

#main .projects {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.projects .project {
  width: 90%;
  margin: 2em;
  display: flex;
}

.project .project-preview {
  display: block;
  background-size: cover;
  background-position: top center;
  width: 40%;
  height: 12em;
  border-radius: 0.25em;
  box-shadow: 0 3px 6px 2.5px rgba(0,0,0,0.25);
  flex-grow: 1;
  order: 1;
}

.project .project-info {
  display: block;
  margin: 1em 2em;
  width: 50%;
  flex-grow: 1;
  order: 2;
}

.project:nth-of-type(even) .project-preview { order: 2; }
.project:nth-of-type(even) .project-info { order: 1; }

.project .project-name {
  color: #870000;
}

.project .project-description {
  margin-bottom: 2em;
}

.project .project-link {
  color: #870000;
}

.project .project-link:hover, .project .project-link:focus {
  border-bottom-color: #870000;
}

/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* SMALL SCREEN */
  aside {
    width: 30%;
  }

  aside .description {
    font-size: 0.9em;
  }

  #main {
    width: 70%;
    margin-left: 30%;
    padding: 2em 3em;
  }

  #main .projects {
    width: 100%;
  }
}

@media screen and (min-width: 441px) and (max-width: 768px) {
  /* TABLET */
  aside {
    display: block;
    width: 100%;
    padding: 0 9em;
    height: auto;
    position: relative;
  }

  .brand {
    width: 30%;
    padding: 2em 0;
    display: inline-block;
    float: left;
  }

  aside .description,
  aside .my-links,
  aside .small-text {
    display: inline-block;
    width: 70%;
  }

  aside .description {
    margin-top: 2em;
    padding: 1em 0 1em 6em;
  }

  aside .small-text {
    position: static;
  }

  .clearfix { display: block; }

  #main {
    width: 100%;
    margin-left: 0;
    padding: 2em;
  }
}

@media screen and (max-width: 440px) {
  /* MOBILE */
  aside {
    display: block;
    width: 100%;
    padding: 2em;
    height: auto;
    position: relative;
  }

  .brand {
    width: 100%;
    padding: 0 2em;
    text-align: center;
  }

  .brand .my-face {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 0.5em;
  }

  .brand .my-name {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }

  aside .description {
    padding-left: 0;
    padding-right: 0; 
  }

  aside .my-links {
    margin: 0 auto;
    padding: 0.5em 0 1.5em;
  }

  aside .small-text {
    display: none;
  }

  .clearfix { display: none; }

  #main {
    width: 100%;
    margin-left: 0;
    padding: 2em;
  }

  #main .heading {
    font-size: 1.25em;
  }

  #main .heading::before {
    content: "- - - - [ ";
  }

  #main .heading::after {
    content: " ] - - - -";
  }

  #main .projects {
    width: 100%;
  }

  .projects .project {
    display: block;
    margin: 2em auto;
  }

  .project .project-preview {
    width: 100%;
  }

  .project .project-info {
    width: 100%;
    margin: 1em auto 3em;
  }
}