/* CSS STYLES for my website. - Chi Señires */
/* Last modified: 27 May 2016 */

@font-face {
  font-family: 'Letter Gothic';
  src: url('../fonts/LetterGothicStd.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.ttc') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  background-color: #3D2D2D;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #E0E0E0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Letter Gothic', monospace;
}

  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }

  a {
    color: #fff;
    transition: 100ms;
  }

    a:hover {
      text-decoration: none;
      font-weight: bold;
      background-color: #3D2D2D;
    }

p {
  margin-bottom: 0.75em;
}

/* HEADER STYLES */
header {
  background-color: #AF1616;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

  #dialog {
    position: relative;
    margin: 0 auto;
    width: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

    #img-circle {
      background-image: url('../img/chisquare.jpg');
      background-size: cover;
      background-position: center;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      margin: 2em 2em 0;
    }

    #dialog-box {
      background-color: #E0E0E0;
      color: #3D2D2D;
      padding: 1.25em;
      width: 50%;
      line-height: 125%;
      border-radius: 10px;
      font-size: 1.5em;
      position: relative;
    }

      #dialog-box::before {
        content: " ";
        position: absolute;
        width: 20px;
        height: 0;
        left: -18%;
        bottom: 15%;
        border-width: 14px 22px;
        border-style: solid;
        border-color: transparent #E0E0E0 transparent transparent;
      }

    #contact-buttons {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 40%;
    }

      #contact-buttons a {
        color: #E0E0E0;
      }

      .fa-circle {
        color: #3D2D2D;
        transition: 200ms;
      }

      #contact-buttons a:hover {
        background-color: transparent;
        color: #fff;
      }

      #contact-buttons a:hover .fa-circle {
        color: #562929;
      }

  nav {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    background-color: #AF1616;
  }

    nav.fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 6;
    }

    .nav-item {
      width: 30%;
      margin: 1em 2em;
      padding: 1em;
      text-align: center;
      background-color: transparent;
      text-decoration: none;
      color: #E0E0E0;
      transition: 400ms;
      letter-spacing: 3px;
      border-radius: 10px;
      font-family: 'Letter Gothic', monospace;
    }

      .nav-item:hover {
        background-color: #3D2D2D;
      }

/* MAIN STYLES */
main {
  width: 100%;
}

  main > div {
    width: 100%;
    padding: 2.5em 10em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  #about {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

    #my-image {
      border-radius: 10px;
      width: 25%;
      margin-right: 2.5em;
    }

  #projects {
    background-color: #995858;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

    .project-box {
      background-position: center -5px;
      background-size: 120%;
      display: block;
      margin: 2em auto;
      padding: 20em 0 0;
      background-color: #E0E0E0;
      color: #3D2D2D;
      width: 40%;
      border-radius: 10px;
      font-family: 'Avenir', sans-serif;
      text-decoration: none;
      transition: 400ms ease-in-out;
      position: relative;
    }

      .project-details {
        position: absolute;
        background-color: rgba(255,255,255,0.8);
        width: 100%;
        bottom: 0;
        padding: 1em 2em;
        font-weight: normal;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 400ms ease-in-out;
      }

    .project-box:hover {
      font-weight: normal;
      background-size: 130%;
      background-position: center -10px;
    }

      .project-box:hover .project-details {
        background-color: rgba(255,255,255,1);
      }

/* RESPONSIVE STYLES */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #dialog {
    width: 80%;
  }

    #dialog-box::before {
      left: -2.5em;
    }

  #contact-buttons {
    width: 100%;
    position: relative;
  }

  #about {
    padding: 8em 4em 4em !important;
  }

    #my-image {
      width: 25%;
    }

  #projects {
    padding: 2em;
  }
    .project-box {
      width: 40%;
    }
}

@media screen and (max-width: 760px) {
  #dialog {
    width: 100%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

    #img-circle {
      margin-bottom: 2em;
    }

    #dialog-box {
      font-size: 1.25em;
      width: 80%;
    }

      #dialog-box::before {
        display: none;
      }

    #contact-buttons {
      position: relative;
      width: 100%;
      margin: 1em auto;
      padding: 1em 0;
      left: 0;
      text-align: center;
      height: 2.5em;
    }

      .button-circle {
        padding: 0.2em 0.4em;
      }

  nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

    nav .nav-item {
      width: 100%;
      margin: 0.5em;
      padding: 0.75em;
    }

  main > div {
    display: block;
  }

    #about, #projects {
      padding: 4em 1em 1em !important;
    }

    #my-image {
      -webkit-clip-path: inset(20% 0% 20% 0% round 10% 10%);
              clip-path: inset(20% 0% 20% 0% round 10% 10%);
      width: 100%;
    }

    #text {
      margin-top: -4em;
    }

    .project-box {
      width: 100%;
      margin: 3em auto;
    }
}