<!-- Google -->
<meta name="google-site-verification" content="Uw4yQTrXjg0lcIDZvdmcqOJHPLs-FibdyAleA04zcgo" />
<meta name="google-site-verification" content="1mnCr52BrRGdSoW9I0uGSlDfjd-xtBf1hyzb37UEB0c" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D1TSCF57LE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D1TSCF57LE');
</script>
