<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>
		{% if page.title %}
			{{ page.title }} • {{ site.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ site.url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Facebook meta tags -->
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:title" content="{{ site.title }}">

	<!-- Twitter card meta tags -->
	<meta property="twitter:url" content="{{ site.url }}">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="{{ site.title }}">
	<meta property="twitter:description" content="{{ site.description }}">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% link assets/style.css %}">

	<!-- Google -->
	<meta name="google-site-verification" content="Uw4yQTrXjg0lcIDZvdmcqOJHPLs-FibdyAleA04zcgo" />
	<meta name="google-site-verification" content="1mnCr52BrRGdSoW9I0uGSlDfjd-xtBf1hyzb37UEB0c" />
</head>
