<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>
		{% if page.title %}
			{{ page.title }} | {{ site.title }}
		{% else %}
			{{ site.title }} | {{ site.tagline }}
		{% endif %}
	</title>

	<meta name="name" content="{{ site.title }} | {{ site.tagline }}">
	<meta name="description" content="{{ site.description }}">
	<meta itemprop="image" content="{{ '/assets/preview.png' | absolute_url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Control the behavior of search engine crawling and indexing -->
	<meta name="robots" content="index,follow"><!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"><!-- Google Specific -->
	<link rel="canonical" href="{{ site.url }}">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% link assets/style.css %}">

	<!-- Favicon -->
	<link rel="icon" href="{% link assets/chi.png %}">

	{% include social.html %}

	{% include analytics.html %}

	{% include ko-fi.html %}

	<!-- Iconify -->
	<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</head>
