<!-- Facebook meta tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="{{ site.title }} | {{ site.tagline }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ '/assets/preview.png' | absolute_url }}">
<meta property="og:image:alt" content="Chi Señires, a UX designer and front-end web developer from the Philippines">

<!-- Twitter card meta tags -->
<meta property="twitter:url" content="{{ site.url }}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ site.title }} | {{ site.tagline }}">
<meta property="twitter:description" content="{{ site.description | truncate: 200 }}">
<meta property="twitter:site" content="@ChiSenires">
<meta property="twitter:image" content="{{ '/assets/preview.png' | absolute_url }}">
<meta property="twitter:image:alt" content="Chi Señires, a UX designer and front-end web developer from the Philippines">