/* Main Stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
  /* Colors */
  --color-text: #071013;
  --color-primary-default: #9D0713;
  --color-primary-variant: #C30919;
  --color-secondary-default: #B7999C;
  --color-secondary-variant: #A56E74;
  --color-accent-primary: #AAAAAA;
  --color-accent-secondary: #DFE0E2;

  /* Link BG Styling */
  --link-bg-color: var(--color-primary-default);
  --link-bg-opacity: 0.2;

  /* Heading Font */
  --font-heading-family: 'Montserrat', sans-serif;
  --font-heading-weight: 600;

  /* Body Font */
  --font-body-family: 'Work Sans', sans-serif;
  --font-body-weight: normal;

  /* Sizes */
  --font-size-body: 16px;
  --font-size-h1: 3.157em;
  --font-size-h2: 2.369em;
  --font-size-h3: 1.777em;
  --font-size-h4: 1.333em;
  --font-size-h5: 1em;
  --font-size-h6: 0.75em;

  /* Transitions */
  --transition-default: all 200ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #071013;
  color: var(--color-text);
  font-size: 16px;
  font-size: var(--font-size-body);
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
}

@media (min-width: 1024px) and (max-width: 1360px) {
  html, body {
    font-size: calc(16px + (16 - 14) * ((100vw - 1024px) / (1360 - 1024)));
  }
}

@media (min-width: 1360px) {
  html, body {
    font-size: 16px;
  }
}

body {
  background-color: var(--color-accent-secondary);
  overflow-x: hidden;
  line-height: 160%;
}

/* Links */
a, a:active {
  color: var(--color-primary-default);
  display: inline-block;
  width: auto;
  position: relative;
  text-decoration: none;
  transition: var(--transition-default);
  -webkit-transition: var(--transition-default);
  -moz-transition: var(--transition-default);
  -ms-transition: var(--transition-default);
  -o-transition: var(--transition-default);
}

a::after {
  content: "";
  display: block;
  background-color: var(--link-bg-color);
  opacity: var(--link-bg-opacity);
  color: var(--color-text);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: auto;
  height: 0.25em;
  margin-top: -0.25em;
  z-index: -1;
  transition: var(--transition-default);
  -webkit-transition: var(--transition-default);
  -moz-transition: var(--transition-default);
  -ms-transition: var(--transition-default);
  -o-transition: var(--transition-default);
}

a:hover::after,
a:focus::after {
  margin-top: -1.15em;
  height: 1.1em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  line-height: 120%;
}

h1 { font-size: var(--font-size-h1); line-height: 100%; }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6 { font-size: var(--font-size-h6); }

@media screen and (max-width: 30rem) {
  :root {
    /* Sizes */
    --font-size-body: 14px;
    --font-size-h1: 2.074em;
    --font-size-h2: 1.728em;
    --font-size-h3: 1.44em;
    --font-size-h4: 1.2em;
    --font-size-h5: 1em;
    --font-size-h6: 0.833em;
  }
}

p {
  line-height: 160%;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 30rem) {
  p {
    margin-bottom: 1rem;
  }
}

/* BG elements */
.bg-accent {
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1;
  background-color: #c4c4c4;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23dfe0e2' fill-opacity='0.39' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.top.bg-accent, .top.bg-accent::after {
  height: 154px;
}

.bottom.bg-accent, .bottom.bg-accent::after {
  height: 77px;
}

.top.bg-accent::after,
.bottom.bg-accent::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
}

.top.bg-accent::after {
  background: linear-gradient(180deg, rgba(223, 224, 226, 0) 0%, #DFE0E2 100%);
}

.bottom.bg-accent::after {
  background: linear-gradient(0deg, rgba(223, 224, 226, 0) 0%, #DFE0E2 100%);
}

/* Main margins */
main.wrapper {
  padding: 4rem 10rem;
  position: relative;
}

main.wrapper::after {
  content: "";
  position: absolute;
  height: 80%;
  left: 14rem;
  top: calc(200px + 5rem);
  border-left: 1px solid var(--color-accent-primary);
}

@media screen and (max-width: 30rem) {
  main.wrapper {
    padding: 2rem;
  }

  main.wrapper::after {
    display: none;
  }
}

/* Heading Card Styles */
.heading-card {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.heading-card .my-photo {
  display: block;
  position: relative;
  margin-left: -3rem;
  border-radius: 25px;
  box-shadow: var(--color-secondary-variant) 8px 8px 0 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.heading-card .card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.card-info > * {
  margin-bottom: 1.5rem;
}

.card-info h1 {
  color: var(--color-primary-default);
  margin-bottom: 0.75rem;
}

.card-info .tagline {
  color: var(--color-secondary-variant);
  font-size: 1.5rem;
}

.card-info .links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-info .links a.link {
  margin-right: 1.5rem;
}

.card-info .links a.link:hover {
  color: var(--color-primary-variant);
}

.card-info .links a.link::after {
  display: none;
}

@media screen and (max-width: 30rem) {
  .heading-card {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .heading-card .my-photo {
    width: 150px;
    margin: 1.5rem auto;
  }

  .heading-card .card-info {
    align-items: center;
    text-align: center;
    margin-left: initial;
  }

  .card-info .links {
    justify-content: center;
    width: 80%;
  }

  .card-info .links a.link {
    margin: 0.75em 1em;
  } 
}

/* Sections */
section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

section h2 {
  z-index: 2;
  color: var(--color-secondary-default);
  padding: 1.5rem 1rem;
  background-color: var(--color-accent-secondary);
  position: sticky;
  top: 0;
  margin-top: -1rem;
  margin-left: -5rem;
  width: 18rem;
  float: left;
  text-align: center;
}

section .section-content {
  margin-left: 15rem;
  margin-bottom: 8rem;
  display: block;
}

@media screen and (max-width: 30rem) {
  section h2 {
    margin: 0;
    float: initial;
    width: 100%;
    top: 0;
  }

  section .section-content {
    margin: 1rem auto 2rem;
    width: 100%;
  }
}

section p:first-of-type {
  font-size: 1.5rem;
}

footer {
  text-align: center;
  font-size: 1.5em;
}

/* Projects and talks section */
.projects, .talks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.projects .project,
.talks .talk {
  display: block;
  width: 24rem;
  height: auto;
  padding: 1rem 1.25rem;
  margin: 1.15em auto;
  flex: 1 0 auto;
}

@media screen and (max-width: 30rem) {
  .projects .project,
  .talks .talk {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.projects .project:hover {
  cursor: pointer;
}

.project h3,
.talk h3 {
  color: var(--color-primary-default);
}

.project .project-tags,
.talk .talk-info {
  color: var(--color-secondary-variant);
  text-transform: uppercase;
  margin: 0.75rem auto;
}

.project .project-description,
.talk .talk-description {
  margin: 1rem auto 1.25rem;
}

.project .project-preview {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: var(--transition-default);
  -webkit-transition: var(--transition-default);
  -moz-transition: var(--transition-default);
  -ms-transition: var(--transition-default);
  -o-transition: var(--transition-default);
}

.project:hover .project-preview {
  opacity: 1;
}