<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    <div class="container">
      <!-- <p>Why is this page looking so simple? It's <a href="https://css-naked-day.github.io">CSS Naked Day</a>!</p> -->
      <hr>
      {{ content }}

      {% if site.data.social-media-links %}
        <p class="links">
        {% for link in site.data.social-media-links %}
          <a href="{{ link.url }}" class="{{ link.title }}" title="{{ link.title }}">{{ link.title }}</a> {% if forloop.last == false %}&#8226;{% endif %}
        {% endfor %}
        </p>
      {% endif %}

      {% if page.side_projects %}
        {% include sideline-work.html %}
      {% endif %}
    </div>
  </body>
</html>