<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include heading-card.html %}

    <section id="about-me">
      <h2>About me</h2>
      {{ content }}
    </section>

    <section id="featured-work">
      <h2>Stuff I’ve worked on</h2>
      {% include featured-work.html %}
    </section>

    <section id="past-talks">
      <h2>My past talks</h2>
      {% include past-talks.html %}
    </section>

    <section id="contact">
      <h2>Want to chat?</h2>
      <div class="content">
        <p>Feel free to send me a message at <aa href="mailto:chi.senires@gmail.com">chi.senires@gmail.com</a>!</p>
        <p>I would love to hear from you! I’m currently free to accept side projects, either for design work or web development work, or speaking engagements related to UX design.</p>
      </div>
    </section>
  </body>
</html>